.visible.transition {
    margin-top: auto !important;
    display: inline-block !important;
    position: absolute;
}

.scrolling {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
}::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.float-right {
    justify-content: right;
}

.pad-top {
    padding-top: 1rem;
}