h3 {
  display: inline;
}

.specimen-footer-title {
  display: block;
  padding-top: 2rem;
}

.specimen-footer-content {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
}
