.about-container {
  max-height: 100vh;
}

.pad-top-bottom {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.description-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.description-heading {
  margin-top: 2rem;
}
/* 
.scrollable {
    max-height: 85vh;
    overflow: scroll;
    scrollbar-width: none;
}::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

ul.dashed {
  list-style-type: none;
}
ul.dashed > li:before {
  content: "-";
}
ul.dashed > li span {
  position: relative;
  left: 0.5rem;
}

.about-text p {
  font-size: 17x;
}
.about-text b {
  font-size: 17px;
}
