/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

form {
  margin-block-end: 0;
}

.h-main {
  height: calc(90vh - 4rem);
  overflow: hidden;
}

.h-minus-header {
  height: calc(100vh - 4rem);
}

.shadow-around-lg {
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); */

  box-shadow: -1px -3px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.table-footer-height {
  height: 4rem;
}

.table-height {
  height: calc(100% - 4rem);
}

.conditional-div-height {
  /* max-height: 15rem; */
}

/* OVERRIDES!! */

.select__indicator-separator {
  display: none !important;
}

.ReactVirtualized__Table__headerRow {
  --bg-opacity: 1;
  background-color: #f9fafb;
  background-color: rgba(249, 250, 251, var(--bg-opacity));
}

.ReactVirtualized__Table__headerTruncatedText {
  text-transform: none;
}

.ReactVirtualized__Table__headerColumn:not(:first-child) {
  /* border-left-width: 1px;
  border-color: #cbd5e0; */
}
